/* This is for CSS code */
/*General Style for the page*/
body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*Buttons*/
.btn-primary {
    background-color: #800000;
    border-color:#800000
}

.btn-primary:hover {
    background-color: #5c0000;
    border-color: #5c0000;
}

/*Navigation Bar*/
.navbar {
    background-color: #800000 !important;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

/*logo style*/
.navbar .navbar-brand img {
    border-radius: 50%;
}